Content-Type: multipart/mixed; boundary="==BOUNDARY=="
MIME-Version: 1.0

--==BOUNDARY==
Content-Type: text/cloud-config

${base_cloud_init}

--==BOUNDARY==
Content-Type: text/cloud-config

${asterisk_cloud_init}

--==BOUNDARY==--
